*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

nav {
	padding: 8px;
	background-color: lightcyan;
	text-align: center;
}

#landing{
	padding: 50px;
	margin-top: 5px;
	margin-bottom: 5px;
	background-color: lightcyan;
}

.card{
	padding: 20px;
	text-align: center;
	display: inline-block;
}

.card-img{
	height: 300px;
	width: 300 px;
}

footer{
	background-color: lightcyan;
	text-align: center;
	padding: 8px;
}